<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google Fonts -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <title>Side Bar Responsivo</title>
</head>

<body>

    <div class="sidebar">
        <div class="logoContent">
            <div class="logo">

                <div class="logoName">Modalidades</div>
            </div>
            <!-- logo -->
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <!-- logoContent -->
        <ul class="nav_list">


            <li>
                <a href="#">
                    <img src="../icones/futebol.png">
                    <span class="links_name">Futebol</span>
                    <span class="toolipe">Futebol</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/tenis.png">
                    <span class="links_name">Tênis</span>
                    <span class="toolipe">Tênis</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/basquete.png">
                    <span class="links_name">Basquete</span>
                    <span class="toolipe">Basquete</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/hoquei.png">
                    <span class="links_name"> Hóquei no Gelo </span>
                    <span class="toolipe"> Hóquei no Gelo </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/beisebol.png">
                    <span class="links_name">Beisebol</span>
                    <span class="toolipe">Beisebol</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/fut-americano.png">
                    <span class="links_name"> Futebol Americano</span>
                    <span class="toolipe"> Futebol Americano</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/handebol.png">
                    <span class="links_name">Handebol</span>
                    <span class="toolipe">Handebol</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/tenis.png">
                    <span class="links_name">Tênis de Mesa</span>
                    <span class="toolipe">Tênis de Mesa</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/bola-de-bilhar.png">
                    <span class="links_name">Sinuca</span>
                    <span class="toolipe">Sinuca</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/alvo.png">
                    <span class="links_name">Dardos</span>
                    <span class="toolipe">Dardos</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="../icones/bruxo.png">
                    <span class="links_name"> League Of Legends</span>
                    <span class="toolipe"> LOL </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/pistola.png">
                    <span class="links_name">CS GO</span>
                    <span class="toolipe">CS GO</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../icones/jogador-de-criquete.png">
                    <span class="links_name">Críquete</span>
                    <span class="toolipe">Críquete</span>
                </a>
            </li>

        </ul>





    </div>
    <!-- sidebar -->

    <div class="homeContent central my-5 py-5 mx-5 ">
        <!-- slide banner -->
        <section>
            <div class=" py-5 bg-dark border border-primary rounded">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="img/1.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/3.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/4.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/5.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>


        <!--  tabela -->
        <section class=" my-5 py-5">

            <table class="table table-dark table-striped rounded">
                <thead>
                    <tr>
                        <th scope="col">Data Hora</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">CASA</th>
                        <th scope="col">EMP</th>
                        <th scope="col">FORA</th>
                        <th scope="col">OUTRAS COTAÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">$</th>
                        <th class="text-warning" scope="row"> ${jogo.casa} VS ${jogo.fora}</th>
                        <td><button type="button" class="btn btn-primary text-light py-2 px-3" data-toggle="modal" data-target="#exampleModal">$ </button>

                        </td>
                        <td> <button type="button" class="btn btn-primary text-light py-2 px-3" data-toggle="modal" data-target="#exampleModal">$ </button> </td>
                        <td> <button type="button" class="btn btn-primary text-light py-2 px-3" data-toggle="modal" data-target="#exampleModal">$ </button> </td>
                        <td><button type="button" class="btn btn-primary text-light py-2 px-3" data-toggle="modal" data-target="#exampleModal"> $</button> </td>
                    </tr>

                </tbody>
            </table>
        </section>




        <!-- Card de Aposta Lateral Direita -->





    </div>

    <div class="esquerdo">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <!-- <section id="card">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

            <div class="card-header"> Boletim de Aposta</div>
            <div class="card-body">
                <h5 class="card-title">${v.jogo.casa}</b> x <b>${v.jogo.fora}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Data Hora: ${v.jogo.data.split('-').reverse().join('/')} às ${v.jogo.hora.replace(/:00$/, '')}</h6>
                <h6 class="card-subtitle mb-2 text-muted"> ${v.cotacao.sigla} Taxa: ${v.jogo.cotacoes[v.tempo][v.cotacao.campo]|maskReal}</h6>
                <ul class="list-group list-group-flush text-white bg-dark mb-3">
                    <li class="list-group-item text-white bg-dark mb-3">Quantidade de Jogos: ${aposta.jogos.length}</li>
                    <li class="list-group-item text-white bg-dark mb-3">Cotação: ${valorCotacao}</li>
                    <li class="list-group-item text-white bg-dark mb-3">Retorno: ${premio}</li>
                </ul>

                <p class="card-text">Quando a vida te desafiar dobre a aposta</p>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$ </span>
                    </div>
                    <input type="number" v-model="valorAposta" v-bind:min="apostaMinima" v-bind:max="apostaMaxima" step="1.00" class="form-control" />

                </div>
                <a href="#" class="btn btn-success px-4" v-bind:disabled="!apostaValida" v-on:click="finalizarAposta">Confirmar</a>
                <a href="#" class="btn btn-danger px-4" v-on:click="limpaAposta"> Cancelar </a>
            </div>
        </div>



    </section> -->




    <script>
        // variáveis
        const btn = document.querySelector('#btn');
        const sidebar = document.querySelector('.sidebar');
        const home = document.querySelector('.homeContent');

        // Eventos de escuta do click
        btn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            home.classList.toggle('active');
        });

        bxSearch.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            home.classList.toggle('active');
        });
    </script>
</body>

</html>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>